*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
}
.hide{
  display:none !important;
}

.show{
  display:block !important;
}

.showFlex{
  display: flex !important;
}

/* .gridline{
  display: grid;
  grid-template-columns: auto auto !important;
  grid-template-rows: 50px auto  !important;
  grid-template-areas: 
  "LG PB"
  "CT CT"  !important;
  height: 100vh;
} */

.sidebar-responsive{
  width: 51px !important;
  
  
}

.sidebar-responsive ul li {
  position: relative !important;
  white-space: nowrap;
  cursor: pointer;
}

li svg{
  margin-right: 15px !important;
}

svg {
  cursor: pointer;
}

.lista{
  color: white;
  list-style: none;
}

.flex{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-card{
  padding: 20px;
  color: white;
  border: 1px solid #ccc;
  margin: 1%;
  width: 30%;
  box-shadow: 0px 0px 10px #000;
}

.table-cont{
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  word-wrap: break-word !important;
  word-break: break-all !important;
}

table{
  width: 100%;
}

table tbody td{
  color:#000;
  font-weight: 600;
  max-width: 30ch;
  vertical-align: middle;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.wordBreak{
  word-wrap: break-word;
}

.action{
  font-size: 13px;
}

.edit{
  margin-right: 5px;
  color: white;
  background-color: rgb(34, 113, 204);
  padding: 5px;
  border-radius: 4px;
  display: flex;
  border: none;
}

.delete{
  margin-right: 5px;
  color: white;
  background-color: rgb(228, 25, 25);
  padding: 5px;
  border-radius: 4px;
  display: flex;
  border: none;
}

.detalhe{
  margin-right: 5px;
  color: #fff ;
  background-color: rgb(94, 94, 94);
  padding: 5px;
  border-radius: 4px;
  display: flex;
  border: none;
}

.flex-display{
  display: flex;
}

.btn{
    background-color: #398439;
    color: #fff;
    padding: 7px 10px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: .5s;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:hover{
  background-color: #2d692d;
  font-weight: bold !important;
}


.form-pergunta{
  padding: 20px;
}

.titlePage{
  font-weight: bold;
}

label {
  margin-bottom: .6em;
  font-weight: bold;
  font-size: 14px;
}

input, select {
  padding: .5em;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 600;
}

option{
  font-size: 14px;
  font-weight: 600;
}

input::placeholder{
  color: #7b7b7b;
}

.table>:not(caption)>*>*{

}

.success {
  color: #fff;
  background-color: #00df30;
  font-weight: 600;
  transition: all 0.2s !important;
}

.error{
  color: #fff;
  background-color: #bd0010;
  font-weight: 600;
}
